.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 34px 17px 0 17px;
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s linear;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  width: 430px;
  padding-bottom: 37px;
}

.modal__close {
  background: no-repeat url(../images/CloseIcon.svg);
  background-size: contain;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
}

.modal__button:hover:not(:disabled) {
  opacity: 0.8;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__heading {
  color: rgba(0, 0, 0);
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 54px;
  margin-top: 0;
  padding-top: 0;
}

.modal__field {
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  height: 28px;
  padding-bottom: 14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.modal__button {
  font-family: Inter, Arial, sans-serif;
  line-height: 22px;
  font-size: 18px;
  padding: 0;
  margin-top: 18px;
  width: 100%;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 2px;
}

.modal__content_type_image {
  position: relative;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  padding: 0;
  width: auto;
  display: flex;
  background: none;
}
.modal__image {
  object-fit: cover;
  max-height: 75vh;
  max-width: 75vw;
}
.modal__description {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.modal__field__container {
  position: relative;
}
@media screen and (max-width: 600px) {
  .modal__container {
    width: 282px;
    border: 1px solid #000000;
    padding: 25px 22px 25px 22px;
  }

  .modal__field {
    height: 27px;
    height: 27px;
  }

  .modal__heading {
    width: 238px;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }

  .modal__form:last-child {
    gap: 30px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 1px);
    left: calc(100% - -4px);
    transform: rotate(90deg);
  }
  .modal__button {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .modal__content_type_image {
    margin: 136px 40px 133px 40px;
  }
  .close-image {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 360px) {
  .modal__close {
    bottom: calc(100% + 10px);
    left: calc(100% - 33px);
  }
}
