.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 34px 17px 0 17px;
  /* align-items: center;
  justify-content: center; */
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  width: 430px;
  padding-bottom: 37px;
}

.modal__close {
  background: no-repeat url(../images/CloseIcon.svg);
  background-size: contain;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__heading {
  color: rgba(0, 0, 0);
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 54px;
  margin-top: 0;
  padding-top: 0;
}

.modal__field {
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  height: 28px;
  padding-bottom: 14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}



.modal__button {
  font-family: Inter, Arial, sans-serif;
  line-height: 22px;
  font-size: 18px;
  padding: 0;
  margin-top: 18px;
  width: 100%;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 2px;
}

@media screen and (max-width: 600px) {
  .modal__container {
    width: 282px;
    border: 1px solid #000000;
    padding: 25px 22px 25px 22px;
  }
  .modal__save-button {
    width: 238px;
    height: 46px;
  }

  .modal__field {
    height: 27px;
    /* padding: 0; */
    height: 27px;
  }

  .modal__heading {
    width: 238px;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }

  .modal__form:last-child {
    gap: 30px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 15px);
    left: calc(100% - 30px);
    transform: rotate(90deg);
  }
}
