.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 882px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

.page__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* @media screen and (max-width: 885px) {
  .page__content {
    padding: 0 20px;
    margin-left: 19px;
  }
}

@media screen and (max-width: 580px) {
  .page__content {
    margin-left: 0;
    padding: 0;
  }
} */
