.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 882px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

.page__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

